<%- layout("/layouts/boilerplate") %>
    <div class="row">
        <div class="col-8 offset-2">
            <h1>Login</h1><br>
            <form method="post" action="/login" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" placeholder="Enter username" class="form-control"
                        id="username" required />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" placeholder="Enter password" class="form-control"
                        id="password" required />
                </div>
                <br>
                <button class="btn btn-success">Login</button>
            </form>
            <div class="text-center mt-3 btn btn-dark">
                <a href="/listings" class="text-decoration-none text-white">Go Back</a>
            </div>
            <br>
            <div class="text-center mt-3 btn btn-dark">
                <a href="/forgot-password" class="text-decoration-none text-white">Forgot Password?</a>
            </div>
            
        </div>
    </div>