<%- layout("/layouts/boilerplate") %>
    <div class="row">
        <div class="col-8 offset-2">
            <h1>Signup</h1><br>
            <form method="post" action="/signup" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="user[username]" placeholder="Enter username" class="form-control"
                        id="username" required />
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please provide a username.</div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="user[email]" placeholder="Enter email" class="form-control" id="email"
                        required />
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please provide a valid email.</div>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="user[password]" placeholder="Enter password" class="form-control"
                        id="password" required />
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Please provide a password.</div>
                </div>
                <br>
                <button class="btn btn-success">Signup</button>
            </form>
            <form action="/listings">
                <button class="btn btn-dark mt-3">Go Back</button>
            </form>
        </div>
    </div>